<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Data Visualization</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
</head>

<body>
  <div class="mt-100" style="padding-top: 100px; text-align: center">
      <br />
      <center><h1>Sentiment Data Visualization</h1></center>

         <img src="/static/images/plot1.png" />


</div>
<center><small style="color: black"> ** Last generated visual. Press CTRL+ Refresh to reload</small></center><br>

<center><a href="/home" class="btn btn-primary btn-block btn-lg" style="color:black; font-size: 30px"> Back </a></center>
<br>
<br>
</body>
</html>